{% extends 'Common/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-sm-8 offset-sm-2">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
  
  </div>
    <div class="row">
        <div class="col-8 offset-sm-2">
            <form action="" class="shadow p-3 mt-3" method="post">
            {% csrf_token %}
                <h2 class="text-primary display-6">Login</h2>
                <hr>
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'registration' %}"><span>Click here to register</span> </a>
               
            </form>


        </div>
    </div>

</div>

{% endblock content %}